<kt-card>
  <form [formGroup]="baseForm" class="example-form base" (ngSubmit)="onSubmit()">
    <h1 style="width: 100%; text-align: center;">Import Segment</h1>

    <mat-form-field class="input">
      <mat-label>Segment Name</mat-label>
      <input type="text" formControlName="base_name" matInput placeholder="Base Name">
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Description</mat-label>
      <input type="text" formControlName="description" matInput placeholder="Description">
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Table Name</mat-label>
      <input type="text" formControlName="table_name" matInput placeholder="Table Name">
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Capping</mat-label>
      <input type="number" min="0" formControlName="capping" matInput placeholder="Capping">
    </mat-form-field>
    <br>

    <button type="submit" style="width: 60%; height: 50px; color: white; background-color: black;" mat-raised-button color="primary">Lock Segment</button>
  </form>
</kt-card>