.base {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70%;
    max-height: 80vh;
    // max-width: 650px;
    flex-wrap: wrap;
}

.reduced{
    width: 50%;
    margin: auto;
}

.input {
    width: 300px;
    margin: 10px;
}