<body>
    <div class="side-nav">
        <div class="logo-container">
            <span class="logo">JAZZER - UI</span>
        </div>
        <mat-divider style="background-color: white;"></mat-divider>
        <mat-list style="height: calc(100vh - 120px - 120px);" role="list">
            <mat-list-item style="margin-top: 15px;" role="listitem" (click)="openComponent(0)">
                <div [ngClass]="{selected: currentTab==0}" class="nav-item">
                    <span>Home</span>
                </div>
            </mat-list-item>
            <mat-list-item style="margin-top: 15px;" role="listitem" (click)="openComponent(1)">
                <div [ngClass]="{selected: currentTab==1}" class="nav-item">
                    <span>Segments</span>
                </div>
            </mat-list-item>
            <mat-list-item style="margin-top: 15px;" role="listitem" (click)="openComponent(2)">
                <div [ngClass]="{selected: currentTab==2}" class="nav-item">
                    <span>Campaigns</span>
                </div>
            </mat-list-item>
            <mat-list-item style="margin-top: 15px;" role="listitem" (click)="openComponent(3)">
                <div [ngClass]="{selected: currentTab==3}" class="nav-item">
                    <span>Teams</span>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="!isNonCVM" style="margin-top: 15px;" role="listitem" (click)="goToUserCreation()">
                <div [ngClass]="{selected: currentTab==4}" class="nav-item">
                    <span>OnBoard User</span>
                </div>
            </mat-list-item>
        </mat-list>
        <mat-divider style="background-color: white;"></mat-divider>
        <div class="signout">
            <button mat-fab extended style="background-color: black; width: 80%;" (click)="signoutUser()">
                <mat-icon>logout</mat-icon>
                Sign Out
            </button>
        </div>
        
    </div>
    <div class="main-content">
         
       <!-- <div class="content">
            <kt-card>
                <app-bases *ngIf="currentTab==1"></app-bases>
                <app-campaigns *ngIf="currentTab==2"></app-campaigns>
                <app-teams *ngIf="currentTab==3"></app-teams>
            </kt-card>
        </div> -->
        <router-outlet></router-outlet>
    </div>
</body>>