<div class="stat-container">
    <div class="stat-card">
        <h3 class="stat-card_label">30 Day Active</h3>
        <h1 class="stat-card_number">12345</h1>
    </div>
    <div class="stat-card">
        <h3 class="stat-card_label">30 - 60 Day Active</h3>
        <h1 class="stat-card_number">12345</h1>
    </div>
    <div class="stat-card">
        <h3 class="stat-card_label">Jazz World Active</h3>
        <h1 class="stat-card_number">12345</h1>
    </div>
    <div class="stat-card">
        <h3 class="stat-card_label">Tamasha Active</h3>
        <h1 class="stat-card_number">12345</h1>
    </div>
    <div class="stat-card">
        <h3 class="stat-card_label">4G Active</h3>
        <h1 class="stat-card_number">12345</h1>
    </div>
</div>

<kt-card>
    <div class="graph-container">
        fvionfgib
    </div>
</kt-card>
