.td_credentials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    height: 70px;
}

.input {
    width: 80%;
}

.tdForm {
    margin-top: 20px;
    width: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}