<div>
    <div mat-dialog-title class="detail-container-head">
        <span class="label">TEAM NAME</span>
        <span class="value">{{currentTeam.name}}</span>
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="detail-container-body-items">
            <div class="detail-container-body-item">
                <span class="label">SHORT CODE</span>
                <span class="value">{{currentTeam.shortCode}}</span>
            </div>
            <div class="detail-container-body-item">
                <span class="label">DAILY CAPACITY</span>
                <span class="value">{{currentTeam.capacity}}</span>
            </div>
            <div class="detail-container-body-item">
                <span class="label">REMAINING CAPACITY</span>
                <span class="value">{{currentTeam.remainingCapacity}}</span>
            </div>
            <div class="detail-container-body-item">
                <span class="label">TEAM CREATION DATE</span>
                <span class="value">{{currentTeam.createdAt}}</span>
            </div>
        </div>
    </mat-dialog-content>
</div>