<div>
    <div mat-dialog-title class="detail-container-head">
        <span class="label">Campaign Title</span>
        <span class="value">{{currentCampaign.campaign_name}}</span>
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="detail-container-body-items">
            <div class="detail-container-body-item">
                <span class="label">STAKEHOLDER</span>
                <span class="value">{{currentCampaign.team_id.name}}</span>
            </div>
            <div class="detail-container-body-item">
                <span class="label">STATUS</span>
                <span class="value">{{currentCampaign.status}}</span>
            </div>
            <div class="detail-container-body-item">
                <span class="label">SMS TEXT</span>
                <span class="value">{{currentCampaign.sms_text}}</span>
            </div>
            <div class="detail-container-body-item">
                <span class="label">BROADCAST DATE</span>
                <span class="value">{{currentCampaign.BROADCAST_DATE}}</span>
            </div>
        </div>
    </mat-dialog-content>
</div>