
<div class="container">
  <div class="logo">
    <p class="logo-text">JAZZER - UI</p>
    <p style="color: white; margin: 15px; text-align: end; margin-left: 180px;">MARKET IS FEW CLICKS AWAY!</p>
  </div>
  <div class="loginForm">
    <kt-card>
      <form [formGroup]="loginForm" class="example-form login" (ngSubmit)="onSubmit()">
        <h1>LOGIN</h1>
        <mat-form-field class="input">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Example@gmail.com">
        </mat-form-field>
    
        <mat-form-field class="input">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput placeholder="Password">
          </mat-form-field>
    
        <button style="width: 200px; background-color: black;" type="submit" mat-raised-button color="primary">Login</button>
      </form>
    </kt-card>
  </div>
</div>


