.compaign {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    width: 900px;
    max-height: 80vh;
    flex-wrap: wrap;
}

.input {
    width: 400px;
    margin: 10px;
}