.bases{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 70px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}



table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }