.campaigns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    height: 70px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}